
<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary">#Titre de l'annonce</h2>
                    </div>
                    <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); text-transform: uppercase;">{{ property.designation }}</p>


                </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h2 mb-0 text-primary">#Surface</h2>
                    </div>
                    <p>{{ property.surface }} m²</p>
                </div>
                
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h3 class="h5 mb-0 text-primary">#Prix</h3>
                    </div>
                    <p>{{ property.price }} dh</p>
                </div>

                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h3 class="h5 mb-0 text-primary">#Nombre de pièces</h3>
                    </div>
                    <p>{{ property.number_pieces }}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>