
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow">
                <img class="profileImg" src="assets/images/profile.jpg" alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">Khalid Ben Omar</h3>
                        <span class="text-primary">CEO &amp; Founder</span>
                    </div>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i>KhalidBenOmar@gmail.com</a></li>
                        <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>+212 661726256</a></li>
                        <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>Maarif, Casablanca</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary">#Titre de l'annonce</h2>
                    </div>
                    <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); text-transform: uppercase;">{{ announce.title }}</p>


                </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h2 mb-0 text-primary">#Description</h2>
                    </div>
                    <p>{{ announce.description }}</p>
                </div>
                
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h3 class="h5 mb-0 text-primary">#Prix minimum</h3>
                    </div>
                    <p>{{ announce.minPrice }} dh</p>
                </div>

                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h3 class="h5 mb-0 text-primary">#Prix maximum</h3>
                    </div>
                    <p>{{ announce.maxPrice }} dh</p>
                </div>
                
            </div>
        </div>
    </div>
</div>