<div class="container mt-10">
  <h1>Ajouter une annonce</h1>
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label><br>
        <input type="text" class="form-control" id="title" required [(ngModel)]="announce.title" name="title" />
      </div>
      <pre></pre>

      <div class="form-group">
        <label for="description">Description</label><br>
        <input class="form-control" id="description" required [(ngModel)]="announce.description" name="description" />
      </div>
      <pre></pre>

      <div class="form-group">
        <label for="description">Prix minimum</label><br>
        <input class="form-control" id="minPrice" required [(ngModel)]="announce.minPrice" name="minPrice" />
      </div>
      <pre></pre>

      <div class="form-group">
        <label for="description">Prix maximum</label><br>
        <input class="form-control" id="maxPrice" required [(ngModel)]="announce.maxPrice" name="maxPrice" />
      </div>
      <pre></pre>

      <button (click)="saveAnnounce()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>announce was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newAnnounce()">Add</button>
    </div>
  </div>
</div>
</div>





