<p class="currentUser">Vous êtes connectez en tant que: Proprietaire</p>

<div class="container">
  <a class="btn btn-outline-secondary" routerLink="/add">Ajouter une announce</a>
  <div class="d-grid gap-2 col-6 mx-auto">
    
  </div>
  <div class="row  gx-2 my-5">
    <div class="col-3" *ngFor="let announce of announces; let i = index">
      
<div class="card my-2" >
  <img src="assets/images/house-image.avif" class="card-img-top" alt="...">
  <div class="card-body">
    <h6> <span class="badge bg-secondary"> {{ announce.status }}</span></h6>

    <h5 class="card-title">{{ announce.title }}</h5>
    <p class="card-text">{{ announce.description }}</p>
    <p>
      <span class="badge text-bg-info">{{ announce.minPrice }} dhs</span>
      <span class="badge text-bg-info">{{ announce.maxPrice }} dhs</span>
    </p>
    <div class="btns">
      <a class="btn btn-primary" href="http://localhost:4200/byId/{{announce.id}}">plus de détails</a>
      <a class="btn btn-primary" href="http://localhost:4200/byId/{{announce.id}}">Proposition</a>
    </div>
  </div>
</div>
    </div>
  </div>
</div>