
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3  bg-light vh-100 cover">
    <div class="col-md-5 p-lg-5 my-5">
      <h1 class="display-4 fw-normal">ABRI</h1>
      <p class="lead fw-normal">Découvrez le pouvoir de l'union locative : connectez les demandes de location aux propriétaires prêts à concrétiser vos rêves d'habitation</p>
      <a class="btn btn-outline-secondary" routerLink="login">Connexion</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  
</main>




